.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexbox {
    width: 200px;
    height: 200px;
    border: 2px solid #252828;
    background-color: rgb(194, 199, 198);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-item1 {
    margin: 10px;
    min-height: 100px;
    background-color: rgb(114, 224, 100);
}

.flexbox-item2 {
    margin: 10px;
    min-height: 100px;
    background-color: rgb(249, 255, 254);
}

.flexbox-item3 {
    margin: 10px;
    min-height: 100px;
    background-color: rgb(89, 197, 59);
}

.header {
    background-color: rgb(189, 189, 203);
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
